body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(83, 82, 82);
}

h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
  margin-bottom: 0%;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

li.first-letter {
  text-transform: capitalize;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(135, 135, 135);
}

.weatherApp-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weatherApp {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
}

.location-overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature .temp {
  color: #272142;
  line-height: 1;
  font-size: 64px;
  font-weight: 300px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
  color: rgb(135, 135, 135);
}

#currentWeatherCondition {
  text-transform: capitalize;
}

.weather-temperature .active {
  color: rgb(135, 135, 135);
}

.weather-temperature .active:hover {
  text-decoration: none;
}
